.not-ms{display:none;}

/*MAIN-MENU------------------------------*/
.main-menu{
  min-height:60vh;
  max-height:90vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.main-menu-item{height:100%;text-decoration: none;white-space: nowrap;font-size:1rem;
  align-self:flex-start;text-decoration: none;overflow:hidden;margin-bottom:5px;}
.main-menu-item:hover{cursor:pointer}
.main-menu-item.logo-cont{height:16vh;width:120px;padding:5%;
 align-self: center;text-align:center;}
.main-menu-item.logo-cont img{height:8vh;}
/*sizes*/
.main-menu-item.large{flex:40vh 1 1;
  display:flex;flex-direction: column;align-items: flex-start;justify-content: center;}
.main-menu-item.other{flex:8vh 0 0;max-height:8vh;}

.sub-menu{flex:175px 1 1; width:100%;margin-top: 5px;margin-bottom:0px;
  flex-wrap:no-wrap;transition:flex 0ms ease-in 0ms;
  display:flex;flex-direction: column;align-items: flex-end;overflow:hidden; background: #373a47;}
.sub-menu .sub-menu-item{
  flex:20px 1 0;max-height: 20px; width:80px;padding-top:0;margin-left:20px;font-size:0.9rem;margin-bottom: 5px;
}
/*children of dashboard main-menu*/
.sub-menu .menu-cross{margin-left:5px;position:absolute;bottom:0px;}




