/*import '....'*/

@import url("dashboard-small.css") all and (max-width:500px);
@import url("dashboard-med.css") all and (min-width: 501px) and (max-width: 979px);
@import url("dashboard-large.css") all and (min-width:980px);
	
/*GENERAL SETTINGS-------------*/

.btn:hover{cursor: pointer;}
.dashboard button{background-color: transparent;color:white;border:solid;
	border-color: white;border-width: thin;font-size: 1.15rem;}
.dashboard .hide{display:none;opacity:0;}
.dashboard .show{display:initial;opacity:1;transition: opacity 200ms ease-in 0ms;} 

/*THESE SHOULD BE IN A SEPARATE FILE EG MAIN.CSS*/
.popup{
	position:absolute;border:solid;border-color: white;background-color: red;color:white;
	text-align: center;}
.popup.hide{display:none;}
.popup.show{display:initial;}
/*ctrls*/
.dashboard .demo-ctrls{position:absolute;display:flex; justify-content: flex-start;}
.dashboard .navigation{display: flex;justify-content: center;}
.dashboard .demo-ctrls button{border:solid;border-color: white;background-color: red;color:white;text-align: center;
	border-radius:5px 5px 5px 5px;}

.dashboard .demo-ctrls .not-displayed{display:none;}

/*temp - to get rid of popup attached to menu*/
.dashboard-main-menu .popup{display:none;}


