/*import '....'*/

/*dashboard----------------------------------------------------*/
.dashboard{
	display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{
	width:100%;height:80vh;position:relative;
	display: flex; align-items: stretch;flex-direction: row-reverse;}

/*CHILDREN OF SVG-WRAPPER*/
/*svg-cont*/
/*todo - use calc(100vw - 190) fro felx value below if poss*/
.dashboard .svg-wrapper .svg-cont{
	flex:80% 1 1; height: 100%;
}
/*ctrls-container*/
.dashboard .ctrls-container{
	height:100%;display:flex;flex-direction: row-reverse;
	justify-content: flex-end;overflow:visible;}
.dashboard .svg-wrapper .ctrls-container.full-width{
	flex:190px 0 0;max-width:190px;min-width:190px;}
.dashboard .svg-wrapper .ctrls-container.short-width{
	flex:90px 0 0;max-width:90px;min-width:90px;}



/*CHILDREN OF ctrls-container*/
.dashboard .ctrls-container .suboptions{
	flex:100px 0 0;min-width:100px;max-width:100px;height:100%;
	display: flex; flex-direction: column; justify-content: center;
	align-items: flex-start;flex-wrap:wrap;}
/*options-container*/
.dashboard .ctrls-container .options-container{
	flex:90px 0 0;max-width: 90px;min-width:90px;height:100%;
	display: flex;flex-direction: column-reverse; justify-content: flex-end;align-items:center;}

/*children of options-container*/

.dashboard .options-container .show-options-button{
	flex:15% 1 1;}
.dashboard .options-container .options{
	flex:85% 1 1; display:flex; flex-direction: column; justify-content: flex-end;align-items: center;}

/*buttons*/
.dashboard .svg-wrapper .options-container .show-options-button button{
	height:35px;max-height:35px;font-size:0.9rem;width:65px;padding:0;margin-bottom:10px;}
.dashboard .ctrls-container button{
	margin:5px;}
.dashboard .ctrls-container .suboptions button{
	flex:25px 0 0;max-height:25px;width: 80px;font-size: 0.8rem;padding:0;}

.dashboard .ctrls-container .options-button{}
.dashboard .ctrls-container .options button{
	flex:35px 0 0;width: 60px;font-size: 0.9rem;padding:0;}


/*.dashboard .option-btn button{}
.dashboard .option-btn.active button{background-color:#e66529;}
.dashboard .suboption-button{}
.dashboard .svg-wrapper .suboptions .suboption-button.active{background-color:#ffa530;}
.dashboard .svg-wrapper .options-container .show-options-button{}*/

/*ANIMATION*/
.dashboard .large-popup{
	width:400px;height:60px;padding:15px;font-size:1.2rem;}
.dashboard .small-popup{
	width:150px;height:40px;padding:5px;font-size:1.2rem;vertical-align:middle;}
.popup{
	width:250px;height:50px; font-size:1.2rem;padding:10px;border-radius: 10px 10px 10px 10px;}

/*ctrls popups*/
.dashboard .demo-ctrls{
	flex-direction: row-reverse;z-index:1;}
.dashboard .demo-ctrls.centre{
	left:45%;top:50%;}
.dashboard .demo-ctrls.corner{
	left:30px;top:15px;}

.dashboard .demo-ctrls button{
	height:40px;width:80px;margin-left:0.5vw;margin-right: 0.5vw;
	font-size:1.2rem;padding:5px;}
.dashboard .demo-ctrls .pause-btn{
	width:100px;}
.dashboard .demo-ctrls .start-stop-button{
	width:70px;height:40px;}

/*other popups*/
.dashboard .real-values-popup{
	top:55%;right:60%;
}
.dashboard .proj-values-popup{
	top:55%;right:15%;
}
.dashboard .zones-popup{
	top:35%;right:5%;
}
.dashboard .welcome-popup{
	top:20%;left:40%;}
.dashboard .button-popup{
	top:0;left:150px;}
.dashboard .show-options-popup{
	height:30px;}
.dashboard .compare-popup{
	top:30px;right:20px;width:300px;height:120px;}




/*not dashboard
I ont get why menu-item-cont is the reference div as its position:relative*/
.menu-item-cont{
	position:relative;} 
.submenu-button-popup{
	right:-80px;top:60px;z-index:300;}
/*.dashboard .popup.unattached{position:absolute;}
.dashboard .popup.unattached{}*/

/*note - there is an issue about specificity when an element has conflicting values*/
.dashboard .not-ls{
	display:none;height:0;max-height:0;flex:0 0 0;}



