/*import '....'*/

/*dashboard----------------------------------------------------*/
.dashboard{display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
/*1. OVERLAY------------------*/
.dashboard .overlay{height:100vh;width:100vw;position:fixed;background-color: black;z-index:10;}
.dashboard .overlay.partly-show{opacity:0.4;display:auto;}
.dashboard .overlay.not-displayed{display:none;}
.dashboard .svg-wrapper{width:100%;height:calc(100vh - 70px);
	display: flex; justify-content: space-around; align-items: stretch;flex-direction: column;}


/*CHILDREN OF SVG-WRAPPER*/
/*svg-cont*/
.dashboard .svg-cont{flex:60% 5 1;}
/*options-and-suboptions-area*/
.dashboard .options-and-suboptions-area{
	display:flex;flex-direction: column;justify-content: flex-end;
	transition:flex 200ms ease-in 0ms;/*padding-bottom:10px;*/
border:solid;border-color: red;}
.dashboard .options-and-suboptions-area.full-height{
	/*flex:25% 1 1;max-height:200px;*/flex:300px 0 0;}
.dashboard .options-and-suboptions-area.short-height{
	flex:10% 1 1;max-height: 70px;transition:all 200ms ease-in 0ms;}


/*CHILDREN OF OPTIONS-AND-SUBOPTIONS-AREA*/
.dashboard .options-and-suboptions-area .suboptions{flex:67% 1 1;
	display: flex; justify-content: center;align-items: center;flex-wrap:wrap;
	transition:all 200ms ease-in 01ms;border:solid;border-color: yellow;}

/*options-area*/
.dashboard .options-and-suboptions-area .options-area{flex:10vh 0 0;max-height: 10vh;
	min-height: 10vh;display: flex;justify-content: space-between;align-items:center;}


/*children of options-area*/
.dashboard .options-area .show-options-button {flex:15% 1 1;}

.dashboard .options-area .options{flex:85% 1 1; display:flex; justify-content: flex-end;align-items: center;
	transition:all 200ms ease-in 0ms;}

/*buttons*/
.dashboard .svg-wrapper .options-area .show-options-button button{
	height:35px;max-height:35px;font-size:0.9rem;width:65px;padding:0;/*margin-bottom:10px;*/border:solid;border-color: yellow;
}
.dashboard .options-and-suboptions-area button{/*margin:5px;*/}
.dashboard .options-and-suboptions-area .suboptions button{
	flex:100px 0 0;min-width: 75px;max-width: 75px;height:30px;/*padding-top: 0;*/font-size:0.8rem;border:solid;border-color: yellow;}
.dashboard .options-and-suboptions-area .options button{
	flex:35px 0 0;width: 65px;font-size:0.8rem;border:solid;border-color: yellow;}

/*ANIMATION*/
.dashboard .large-popup{width:300px;height:80px;padding:10px;font-size:1rem;}
.dashboard .small-popup{width:180px;height:40px;padding:5px;font-size:1rem;}
.popup{width:350px;height:40px; font-size:1rem;padding:5px;border-radius: 5px 5px 5px 5px;}

/*ctrls popups*/
.dashboard .demo-ctrls{height:40px;z-index:1;}
.dashboard .demo-ctrls.centre{left:35%;top:50%;}
.dashboard .demo-ctrls.corner{left:10px;top:15px;}

.dashboard .demo-ctrls button{height:40px;width:60px;margin-left:0.5vw;margin-right: 0.5vw;
	font-size:1rem;padding-top:5px;}
.dashboard .demo-ctrls .pause-btn{width:80px;}
.dashboard .demo-ctrls .start-stop-button{width:60px;height:40px;}

/*other popups*/
.dashboard .real-values-popup{top:65%;left:5%;width:200px;height:60px;
}
.dashboard .proj-values-popup{top:45%;right:5%;width:200px;height:60px;
}
.dashboard .zones-popup{top:25%;left:10%;width:80%;height:100px;
}
.dashboard .welcome-popup{top:50%;left:10%;}
/*need fine grain control over each button-popup*/
/*.dashboard .button-popup{top:-50px;right:0px;}*/
.dashboard .show-options-popup{top:-40px;}
.dashboard .players-button-popup{top:-150px;right:5px;}
.dashboard .fitness-button-popup{top:-150px;right:-65px;}/*shifted by length of button so it stays in same place*/
.dashboard .skills-button-popup{top:-150px;right:-135px;}
.dashboard .compare-popup{top:15px;left:10px;width:300px;height:70px;}





/*not dashboard
I ont get why menu-item-cont is the reference div as its position:relative*/
.menu-item-cont{position:relative;} 
.submenu-button-popup{right:-80px;top:60px;z-index:300;}
/*.dashboard .popup.unattached{position:absolute;}
.dashboard .popup.unattached{}*/

/*note - there is an issue about specificity when an element has conflicting values*/
.dashboard .not-ss{display:none;height:0;max-height:0;flex:0 0 0;}


