/*import '....'*/

/*dashboard----------------------------------------------------*/
.dashboard{
	display:flex;flex-direction: column;align-items: stretch;}
/*children of dashboard*/
.dashboard .svg-wrapper{
	width:100%;height:calc(100vh - 70px);
	display: flex; align-items: stretch;flex-direction: row-reverse;}



/*CHILDREN OF SVG-WRAPPER*/
/*svg-cont*/
.dashboard .svg-wrapper .svg-cont{ /*flex:60% 3 1;*/flex:70% 3 1; min-width:60%;height: 100%;
}
/*ctrls-container*/
.dashboard .ctrls-container{
	height:100%;display:flex;flex-direction: row-reverse;justify-content: flex-end;}
.dashboard .ctrls-container.full-width{
	flex:180px 0 0;min-width:180px;max-width: 180px;}
.dashboard .ctrls-container.short-width{
	flex:80px 0 0;min-width:80px;max-width: 80px;}



/*CHILDREN OF ctrls-container*/
.dashboard .ctrls-container .suboptions{
	flex:95px 0 0;min-width:95px;max-width:95px;height:100%;
	display: flex; flex-direction: column; justify-content: center;
	align-items: flex-start;flex-wrap:wrap;}
/*options-container*/
.dashboard .ctrls-container .options-container{
	flex:80px 0 0;max-width: 80px;min-width:80px;height:100%;
	display: flex;flex-direction: column-reverse; justify-content: flex-end;align-items:center;}

/*children of options-container*/
.dashboard .svg-wrapper .options-container .show-options-button{
	flex:15% 1 1;}
.dashboard .options-container .options{
	flex:85% 1 1; display:flex; flex-direction: column; justify-content: flex-end;align-items: center;}

/*buttons*/
.dashboard .svg-wrapper .options-container .show-options-button button{
	height:35px;max-height:35px;font-size:0.9rem;width:65px;padding:0;margin-bottom:10px;
}
.dashboard .ctrls-container button{
	margin:5px;}
.dashboard .ctrls-container .suboptions button{
	flex:25px 0 0;max-height:25px;width: 80px;font-size: 0.8rem;padding:0;}
.dashboard .ctrls-container .options button{
	flex:35px 0 0;width: 60px;font-size: 0.9rem;padding:0;}

/*.dashboard .option-btn.active button{background-color:#e66529;}*/

/*.dashboard .svg-wrapper .suboptions .suboption-button.active{background-color:#ffa530;}*/



/*ANIMATION*/
.dashboard .large-popup{width:300px;height:40px;padding:10px;font-size:1.1rem;}
.dashboard .small-popup{width:180px;height:30px;padding:5px;font-size:1.1rem;}
.popup{width:350px;height:25px; font-size:1.1rem;padding:5px;border-radius: 5px 5px 5px 5px;}

/*ctrls popups*/
.dashboard .demo-ctrls{height:40px;z-index:1;}
.dashboard .demo-ctrls.centre{left:40%;top:40%;}
.dashboard .demo-ctrls.corner{left:10px;top:15px;}

.dashboard .demo-ctrls button{height:40px;width:60px;margin-left:0.5vw;margin-right: 0.5vw;
	font-size:1rem;padding:5px;}
.dashboard .demo-ctrls .pause-btn{width:80px;}
.dashboard .demo-ctrls .start-stop-button{width:60px;height:40px;}

/*other popups*/
.dashboard .real-values-popup{top:60%;left:20%;width:200px;height:60px;
}
.dashboard .proj-values-popup{top:60%;left:55%;width:200px;height:60px;
}
.dashboard .zones-popup{top:25%;left:25%;width:50%;height:100px;
}
.dashboard .welcome-popup{top:45%;left:30%;}
/*need fine grain control over each button-popup*/
/*.dashboard .button-popup{top:-50px;right:0px;}*/
.dashboard .show-options-popup{bottom:10px;right:-350px;}
.dashboard .players-button-popup{bottom:0px;right:-450px;}
.dashboard .fitness-button-popup{bottom:0px;;right:-450px;}
.dashboard .skills-button-popup{bottom:0px;right:-450px;}
.dashboard .compare-popup{top:10px;right:60px;width:300px;height:70px;}




/*not dashboard
I ont get why menu-item-cont is the reference div as its position:relative*/
.menu-item-cont{position:relative;} 
.submenu-button-popup{right:-80px;top:60px;z-index:300;}
/*.dashboard .popup.unattached{position:absolute;}
.dashboard .popup.unattached{}*/

/*note - there is an issue about specificity when an element has conflicting values*/
.dashboard .not-ms{display:none;height:0;max-height:0;flex:0 0 0;}

