/*import '....'*/
.not-ss{display:none;}

.page .page-background-cont.with-header{height:calc(100% + 100px);top:calc(12vh - 100px);}
.page .page-background-cont.without-header{height:100vh;top:0px;}

.page .header.full-height{height:12vh;padding:1vh;}
.page .header.zero-height{height:0;padding:0vh;}
.header .logo-cont{margin-left:1vw;position:absolute;left:0;top:10%;
	height:9vh;width:180px;overflow:hidden;} 
.header .logo-cont.zero-height{height:0;}
.header .logo-cont img{height:100%;width:auto;}


/*PAGE CONTENT*/
.page .content{min-height:88vh;}
/*HOME*/
.page .content .home{min-height:88vh;position: relative;}

/*USER-HOME*/
.page .content .user-home{}
.page .content .user-home .screen-fit{height:calc(88vh - 70px);}

/*children of user-home non-responsive*/
.user-home .welcome-and-profile{display:flex;flex-direction: column;align-items:center;}
.user-home .welcome-mesg{margin:5%;margin-left:2%;font-size:1rem;color:white;}
.user-home .profile-cont{}

.user-home .links-outer-cont{display: flex;flex-direction: column;align-items: center;margin:2vh;}
.user-home .links-cont{display:flex;flex-direction: column; justify-content: space-around;align-items:center; margin:5%;}
.user-home .links-cont .links-title{align-self:flex-start;color:white;font-size: 1.2rem;}
.user-home .links-cont .links{display:flex;justify-content: space-around;margin:5%;}
.user-home .links button{margin:5px;width:90px;}
.user-home .view-links button{}
.user-home .creation-links button{background-color: blue;}

/*children of home*/
.home .intro-banner{flex: 15% 0 0;min-height:15%;
	display:flex; flex-direction: column; justify-content: flex-start;align-items: flex-start;
	 margin: 2%;margin-top:0%;}
.home .sections{flex: 70% 0 0;min-height:70%;display:flex;
flex-direction: column; justify-content: flex-start;}

/*children of intro-banner*/
.home .intro-banner .motto{display:flex;flex-direction: column; justify-content: flex-start;}

/*children of sections*/
/*position relative so absolutely postioned background is contained*/
.home .sections .section{position:relative;
	display: flex;flex-direction: column;justify-content: flex-start;
	border-radius: 5px 5px 5px 5px;margin:5%;padding:5px;padding-bottom:15px;
	border:solid;border-color: white;border-width: thin;}

/*children of section*/
/* a plain black background for each home section*/
.home .section .background{position: absolute; height:100%; width:100%; opacity:0.5;border-radius: 5px;}
.home .section .banner{flex: 60% 1 1; display:flex;flex-direction: column;align-items: center;}
.home .section .section-content{flex:40px 0 0;max-height:40px;min-height:40px; display:flex;flex-direction: column;align-items: center;
	border-radius: 0px 0px 5px 5px;}
.home .section .section-content button{height:40px;}

/*children of .key-message*/
.home .section .banner .title{margin:1.5vw;margin-top: 1vh;margin-bottom: 0.5%;}
.home .section .banner .mesg{margin:1.5vw;margin-top:0;margin-bottom: 1vh;}
/*children of content*/
.home .section .section-content .heading-area{display:flex;flex-direction: column;
  justify-content: space-around;}
.home .section .section-content .heading{margin:1vh;}
.home .section .section-content .subheading{margin: 0.5vh;}
.home .section .section-content .text{align-self: stretch;margin:0.5vh;}
.home .btn{margin:0.5vh;width:110px;}

/*ABOUT*/

.about .welcome .welcome-img{max-height:40vh;width:100%;overflow: hidden;}
.about .welcome .welcome-img img{width:100%;height:auto;}
