.not-ms{display:none;}

.page .page-background-cont.with-header{height:calc(84vh + 270px);top:calc(16vh - 270px);}
.page .page-background-cont.without-header{height:calc(100vh + 270px);top:-270px;}

.page .header.full-height{height:16vh;padding:1vh;}
.page .header.zero-height{height:0;padding:0vh;}
.header .logo-cont{margin-left:10px;position:absolute;left:0;top:10%;
	height:12vh;width:150px;overflow:hidden;} 
.header .logo-cont.zero-height{height:0;}
.header .logo-cont img{height:100%;width:auto;}


/*PAGE CONTENT*/
.page .content{min-height:84vh;}
/*HOME*/
.page .content .home{min-height:84vh;position: relative;}

/*USER-HOME*/
.page .content .user-home{}
.page .content .user-home .screen-fit{height:calc(84vh - 70px);display:flex;flex-direction: column;}

.user-home .welcome-and-profile{flex:50% 1 1;display:flex;align-items:center;margin:10px;}
.user-home .welcome-mesg{margin:5%;margin-left:2%;font-size:1rem;color:white;}
.user-home .profile-cont{}

.user-home .links-outer-cont{flex:50% 1 1;width:100%;
	display: flex;justify-content: center; align-items: flex-start;margin:2vh;margin-top:0;}
.user-home .links-cont{display:flex;flex-direction: column; justify-content: space-around;align-items:center;
 margin:5%;margin-top:0;margin-bottom:0;}
.user-home .links-cont .links-title{align-self:flex-start;color:white;font-size: 1.2rem;}
.user-home .links-cont .links{display:flex;justify-content: space-around;margin:5%;margin-left:0;}
.user-home .links button{margin:5px;width:90px;height:30px;}
.user-home .view-links button{}
.user-home .creation-links button{background-color: blue;}


/*children of home*/
.home .intro-banner{display:flex; flex-direction: column; justify-content: flex-start;align-items: flex-start;
	 margin: 2%;margin-top:1.5%;}
.home .sections{display:flex;justify-content: space-around;}


/*children of intro-banner*/
.home .intro-banner .motto{display:flex;justify-content: flex-start;}
.home .intro-banner .motto div{margin-right: 5px;}

/*children of sections*/
/*position relative so absolutely postioned background is contained*/
.home .sections .section{flex:45vw 0 0;min-width: 45vw;max-width: 45vw; 
	position:relative;
	display: flex;flex-direction: column;justify-content: flex-start;border:solid;border-color: white;
	border-radius: 5px 5px 5px 5px;border-width: thin;margin:2vw;padding:5px;}

/*children of section*/
/* a plain black background for each home section*/
.home .section .background{position: absolute; height:100%; width:100%; opacity:0.5;border-radius: 5px;}
.home .section .banner{flex: 60% 1 1; display:flex;flex-direction: column;align-items: center;}
.home .section .section-content{flex:40px 0 0;max-height:40px;min-height:40px; display:flex;flex-direction: column;align-items: center;
	border-radius: 0px 0px 5px 5px;}
.home .section .section-content button{height:40px;}


/*children of .key-message*/
.home .section .banner .title{margin:1.5vw;margin-top: 1vh;margin-bottom: 0.5%;}
.home .section .banner .mesg{margin:1.5vw;margin-top:1vh;margin-bottom: 1vh;}







/*children of content*/
.home .section .section-content .heading-area{display:flex;flex-direction: column;
  justify-content: space-around;}
.home .section .section-content .heading{margin:1vh;}
.home .section .section-content .subheading{margin: 0.5vh;}
.home .section .section-content .text{align-self: stretch;margin:0.5vh;}
.home .btn{margin:0.5vh;width:110px;height:30px;padding-top:0;}

/*ABOUT*/
.about .welcome .welcome-img{max-height:40vh;width:100%;overflow: hidden;}
.about .welcome .welcome-img img{width:100%;height:auto;}


