:root {
  --header-background-color: rgb(128, 128, 128);
  --header-background-color: rgb(162, 162, 162);
  --header-text-color: rgb(24, 24, 24);
}

.header-wrapper {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  width: 100vw;
  height: 50px;
  top: 0;
  background-color: var(--app-background-color);
  color: var(--header-text-color);
}

.header-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow {
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}

.path {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.people {
  width: 100px;
  margin-left: auto;
  margin-right: 10px;
}

.inbox {
  width: 50px;
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
}
