html {
  /*overflow: hidden;*/
  overscroll-behavior: none;
}

body{
  margin:0;
  padding:0;
  -webkit-user-select: none;
  user-select: none;
  /*background:#FF825C;*/
  background:none; /*#DBEFF0;*/
  width: 100%;
  /*-webkit-text-size-adjust: none;*/
}

/*MAIN-BURGER-MENU------------------------------*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right:10px;
  /*left: 10px;*/
  top: 10px;
  /*display:none;*/
}
/* Color/shape of burger icon bars */
.bm-burger-bars{
    background:grey;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {background: #a90000;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height: 24px;width: 24px;display:none;}
/* Color/shape of close button cross */
.bm-cross {background: #bdc3c7;}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1em 1em 0 0.8em; /* left-pad added*/
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill: #373a47;}
/* Wrapper for item list */
.bm-item-list {color: #b8b7ad;padding: 0em; /*changed from 0.8*/}
/* Individual item */
.bm-item {display: inline-block;}
/* Styling of overlay */
.bm-overlay {background: rgba(0, 0, 0, 0.3);}

/* This fires as soon as the element enters the DOM*/
.hero-statement-transition-enter {
  /*We give the list the initial dimension of the list button*/
  opacity:0;
  transition: all 1000ms ease-in 2000ms;
}
/* This is where we can add the transition*/
.hero-statement-transition-enter-active {
  opacity:1;
  transition: all 1000ms ease-in 2000ms;
}
/* This fires as soon as the this.state.showList is false */
.hero-statement-transition-exit {
  opacity:1;
  transition: all 1000ms ease-in 2000ms;
}
/* fires as element leaves the DOM*/
.hero-statement-transition-exit-active {
  opacity:0;
  transition: all 1000ms ease-in 2000ms;
}


/* This fires as soon as the element enters the DOM*/
.list-transition-enter {
  /*We give the list the initial dimension of the list button*/
  top: 0;
  width: 120px;
  max-height: 40px;
  color: transparent;
  background-color: #5a564c;
}
/* This is where we can add the transition*/
.list-transition-enter-active {
  top: 45px;
  width: 200px;
  max-height: 200px;
  background-color: #9e8949;
  transition: all 400ms;
}
/* This fires as soon as the this.state.showList is false */
.list-transition-exit {
  top: 45px;
  width: 200px;
  max-height: 200px;
  background-color: #9e8949;
}
/* fires as element leaves the DOM*/
.list-transition-exit-active {
  top: 0;
  width: 120px;
  max-height: 40px;
  color: transparent;
  background-color: #5a564c;
  transition: all 400ms;
}


.xs-down {
  @media only screen and (min-width: 576px) {
    display: none;
  }
}
.sm-down {
  @media only screen and (min-width: 769px) {
    display: none;
  }
}
.sm-down-port {
  @media only screen and ((orientation:landscape ) or (min-width: 769px)) {
    display: none;
  }
}
.sm-down-land {
  @media only screen and ((orientation: portrait) or (min-width: 769px)) {
    display: none;
  }
}
.md-down {
  @media only screen and (min-width: 991px) {
    display: none;
  }
}
.lg-down {
  @media only screen and (min-width: 1441px) {
    display: none;
  }
}
.sm-up {
  @media only screen and (max-width: 575px) {
    display: none;
  }
}
.md-up {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.lg-up {
  @media only screen and (max-width: 990px) {
    display: none;
  }
}
.xl-up {
  @media only screen and (max-width: 1440px) {
    display: none;
  }
}
.sm-to-md {
  @media only screen and (min-width: 576px)  and (max-width: 769px){
    display: none;
  }
}

