body{
  margin:0;
  padding:0;
}
/*MAIN-BURGER-MENU------------------------------*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 10px;
  top: 10px;
  /*display:none;*/
}
/* Color/shape of burger icon bars */
.bm-burger-bars{
    background:grey;
}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {background: #a90000;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height: 24px;width: 24px;display:none;}
/* Color/shape of close button cross */
.bm-cross {background: #bdc3c7;}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {position: fixed;height: 100%;}
/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1em 1em 0 0.8em; /* left-pad added*/
  font-size: 1.15em;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill: #373a47;}
/* Wrapper for item list */
.bm-item-list {color: #b8b7ad;padding: 0em; /*changed from 0.8*/}
/* Individual item */
.bm-item {display: inline-block;}
/* Styling of overlay */
.bm-overlay {background: rgba(0, 0, 0, 0.3);}