.comment-wrapper {
  height: 100%;
  align-items: flex-end;
}
.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  height: fit-content;
  overflow-y: auto;
  margin-top: 10px;
  max-height: 15vh;
}
.message-box {
  background-color: rgb(155, 155, 245);
  color: white;
  margin: 3px;
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 80%;
  text-align: justify;
}
@media screen and (max-width: 800px) {
  .message-box {
    font-size: 14px;
    padding: 6px 10px;
  }
}
@media screen and (max-width: 480px) {
  .message-box {
    font-size: 12px;
    padding: 4px 8px;
  }
}
